.bgColor {
  background-color: #0a5f72;
}

.bgColorSec {
  background-color: #D15D43;
}

.bgSec {
  background-color: #ffa9a9;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}